.body-container {
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  background-color: #dae0e6;
  padding: 30px;
  min-height: 100vh;
}

.posts-container {
  background-color: #dae0e6;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-self: flex-start;
  grid-column-start: 2;
  grid-column-end: 3;
}
